
@{
    ViewBag.Title = "Lista";
}

<h2>Lista</h2>

<div>
    <b>Pessoa ID</b>
</div>
<div>
    @ViewData["idPessoa"]
</div>
<div>
    <b>Nome</b>
</div>
<div>
    @ViewData["nomePessoa"]
</div>
<div>
    <b>Tipo</b>
</div>
<div>
    @ViewData["tipoFuncionario"]
</div>

<a href="~/">Voltar</a>